<mat-list>
  <p mat-subheader>Restaurantes</p>
  <mat-list-item>
    <p mat-line class="item">Exemplo Restaurante</p>
    <p mat-line class="item">Rua Fake, Pizaria</p>
    <button mat-icon-button color="warn" aria-label="">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item>
    <p mat-line>Exemplo Restaurante</p>
    <p mat-line class="item">Rua Fake, Churrascaria</p>
    <button mat-icon-button color="warn" aria-label="">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item>
    <p mat-line>Exemplo Restaurante</p>
    <p mat-line class="item">Rua Fake, Buffet Livre</p>
    <button mat-icon-button color="warn" aria-label="">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item>
    <p mat-line>Exemplo Restaurante</p>
    <p mat-line class="item">Rua Fake, Buffet Livre</p>
    <button mat-icon-button color="warn" aria-label="">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item>
      <p mat-line>Exemplo Restaurante</p>
      <p mat-line class="item">Rua Fake, Prato Pronto</p>
      <button mat-icon-button color="warn" aria-label="">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item>
        <p mat-line>Exemplo Restaurante</p>
        <p mat-line class="item">Rua Fake, Lanchonete</p>
        <button mat-icon-button color="warn" aria-label="">
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-list-item>
</mat-list>
