:host {
  max-width: 900px;
  display: block;
  margin: 25px auto ;
}

.item {
  font-size: 24px;
}

.mat-icon-button {
  color: #ccc;
}

.mat-icon-button.ativo {
  color: red;
}

.mat-subheader {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

