<div class="cadastroRestaurante">
  <mat-form-field>
    <input matInput [(ngModel)]="nome" required placeholder="Nome">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="endereco" required placeholder="Endereço">
  </mat-form-field>

  <mat-form-field>
    <mat-select [(ngModel)]="categoria" required placeholder="Categoria">
      <mat-option value="Buffet">Buffet Livre</mat-option>
      <mat-option value="Churrascaria">Churrascaria</mat-option>
      <mat-option value="Comida por Quilo">Comida por Quilo</mat-option>
      <mat-option value="Food Truck">Food Truck</mat-option>
      <mat-option value="Lanchonete">Lanchonete</mat-option>
      <mat-option value="Prato Feito">Prato Feito</mat-option>
      <mat-option value="Pizzaria">Pizzaria</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="btn-enviar">
    <button mat-raised-button color="primary" (click)="confirmaCadastro()"> Cadastrar </button>
    <button mat-raised-button (click)="cancelarCadastro()"> Cancelar </button>
  </div>
</div>
